.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#navBar {
  margin: 0px;
  background-color: black;
}

#header {
  background: url('../src/assets/coverphoto.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  padding-bottom: 70rem;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

.header-link-text {
  color: black
}

.header-title {
  background-color: black;
  color: white;
  font-size: 52px;
  font-weight: bold;
  margin: 0px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
}

.sub-header {
  background-color: black;
  color: white;
  font-size: 25px;
  font-style: italic;
  margin: 10px;
  font-family: 'Lato', sans-serif;
}

.header-button {
  background-color: black;
  padding-top: 20px;
}

.leaflet-container { 
  margin: 3.7rem; 
  width: 93vw;
  height: 85vh; 
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
}

.country-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1.5rem;
  justify-content: center;
}

.favorites-countries {
  overflow-x: scroll;
  min-height: 200px;
  max-width: 100%;
}

.ui.grid > .row.favorites-countries-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.ui-one-column-grid {
  margin: 10px;
}

.field {
  padding: 0.7rem;
  font-size: 16px;
}

.button {
  padding: 0.5rem;
}

.LatLongSearch {
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border: 1.75px solid black;
  background: whitesmoke;
}

.ui-centered-card {
  background: rgb(0, 0, 75);
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
}

#current-active-cases{
  padding: 0.75rem;
}

/*Table Page*/
.low-positivity {
  background: green;
  color: white;
}

.high-hospitilized {
  background: yellow;
  color: black
}

.high-icu {
  background: yellow;
  color: black
}

.high-ventilator {
  background: yellow;
  color: black
}

.high-death {
  background: red;
  color: white;
}


.loading-button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.loading-button:disabled {
  opacity: 0.5;
}