.App {
  text-align: center;
}

.leaflet-container { margin: 5rem; width: 90vw;  height: 90vh; }

.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
}

.country-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1.5rem;
  justify-content: center;
}

.favorites-countries {
  overflow-x: scroll;
  min-height: 200px;
  max-width: 100%;
}

.ui.grid > .row.favorites-countries-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.ui-one-column-grid {
  margin: 10px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
