.App {
  text-align: center;
}

.header-title{
  background-color: black;
  color: white;
  font-size: 70px;
  padding-top: 20px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.sub-header{
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.header-button{
  background-color: black;
  padding-top: 20px;
}

.header-link-text{
  color: black
}

.cover-photo{
  height: 445px;
  width: 1500px;
}

.leaflet-container { 
  margin: 1rem; 
  width: 97vw;
  height: 97vh; 
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
}

.country-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1.5rem;
  justify-content: center;
}

.favorites-countries {
  overflow-x: scroll;
  min-height: 200px;
  max-width: 100%;
}

.ui.grid > .row.favorites-countries-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.ui-one-column-grid {
  margin: 10px;
}

.field{
  padding: 0.7rem;
  font-size: 16px;
}

.button{
  padding: 0.5rem;
}

.low-positivity{
  background: green;
  color: white;
}

.high-hospitilized{
  background: yellow;
  color: black
}

.high-icu{
  background: yellow;
  color: black
}

.high-ventilator {
  background: yellow;
  color: black
}

.high-death{
  background: red;
  color: white;
}

.LatLongSearch{
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border: 1.75px solid black
}

.ui-centered-card {
  background: lightgray
}